<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QCUpgradePostProcessing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <QCUpgradePostProcessing.My.MySettings>
            <setting name="TDAdminUser" serializeAs="String">
                <value>CHANGE_ME_TDAdmin_User_Name</value>
            </setting>
            <setting name="TDAdminPassword" serializeAs="String">
                <value>CHANGE_ME_TDAdmin_User_Password</value>
            </setting>
            <setting name="QCTemplateGroups" serializeAs="String">
                <value>CHANGE_ME__Engineer,_Lead,_Product Definer,_Project Admin,_Reporter,_Test Definer,_Test Executor,_Project Manager</value>
            </setting>
            <setting name="QCDefaultGroups" serializeAs="String">
                <value>Developer,Project Manager,QATester,TDAdmin,Viewer</value>
            </setting>
            <setting name="QCFarm" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLogsTo" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectUsersWithGroup" serializeAs="String">
                <value>CHANGE_ME_alm_user1,alm_group1,alm_user2,alm_group2</value>
            </setting>
            <setting name="ManagedTemplates" serializeAs="String">
                <value>CHANGE_ME_TEMPLATE1,TEMPLATE2</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>from@me.com</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>to@you.com</value>
            </setting>
            <setting name="EmailActivated" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="EmailHost" serializeAs="String">
                <value>smtphost</value>
            </setting>
        </QCUpgradePostProcessing.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
